# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python cache and virtual environments
__pycache__/
*.pyc
*.py.class
venv/
*.env